extends layout

block content

        .container#clinicalExaminationContainer

                #totalChart(style='border: 1px solid #ccc')

                #categoryChart(style='border: 1px solid #ccc')

                #subcategoryChart(style='border: 1px solid #ccc')