extends layout

block content

        .container#clinicalChartContainer
                div(class='contentContainer' id=type)
                div(class='tableContainer')
                        table.table
                                thead
                                        tr
                                                th(scope='col') #
                                                th(scope='col') First
                                                th(scope='col') Last
                                                th(scope='col') Handle
                                tbody
                                        tr
                                                th(scope='row') 1
                                                td Mark
                                                td Otto
                                                td @mdo
                                        tr
                                                th(scope='row') 2
                                                td Jacob
                                                td Thornton
                                                td @fat
                                        tr
                                                th(scope='row') 3
                                                td Larry
                                                td the Bird
                                                td @twitter
