extends layout

block content

    .container#clinicalLogBookContainer
        iframe#sheetIframe
        #piechart_div(style='border: 1px solid #ccc')

        #barchart_div(style='border: 1px solid #ccc')

