extends layout

block content


    .container#clinicalHoursContainer

        #totalChart(style='border: 1px solid #ccc')

        #monthChart(style='border: 1px solid #ccc')

        #weekChart(style='border: 1px solid #ccc')