extends layout

block content

    pre#content.

    .container#charts_container

        iframe#sheetIframe

        #piechart_div(style='border: 1px solid #ccc')

        #barchart_div(style='border: 1px solid #ccc')