extends layout

block content

        .container#clinicalChartContainer
                div(class='contentContainer' id=type)
                div(id='tableContainer')
                        table.table#clinicalTable
                                thead
                                        tr#clinicalTableHead

                                tbody#clinicalTableBody



