extends layout

block content
    #homeContent
      header#banner.masthead.text-center.text-white
        //.masthead-content
        //    .container
        //        h2.masthead-heading.mb-0 Medical Imaging
        //        h3.masthead-subheading.mb-0 Medical and Health Science
        //.bg-circle-1.bg-circle
        //.bg-circle-2.bg-circle
        //.bg-circle-3.bg-circle
        //.bg-circle-4.bg-circle
      section
        .container
            .row.align-items-center
                .col-lg-6
                    .p-5
                        img#modalityImage.img-fluid.rounded-circle(src='images/Ultrasound.jpg', alt='')
                .col-lg-6
                    .p-5
                        h2#modalityTitle.display-4
                        p#modalityContent







