extends layout

block content
    header#banner.masthead.text-center.text-white
        .masthead-content
            .container
                h2.masthead-heading.mb-0 Medical Imaging
                h3.masthead-subheading.mb-0 Medical and Health Science
        .bg-circle-1.bg-circle
        .bg-circle-2.bg-circle
        .bg-circle-3.bg-circle
        .bg-circle-4.bg-circle
    section
        .container
            .row.align-items-center
                .col-lg-6.order-lg-2
                    .p-5
                        img.img-fluid.rounded-circle(src='images/mammography.jpg', alt='')
                .col-lg-6.order-lg-1
                    .p-5
                        h2.display-4 Mammography
                        p
                            | As illustrated in the diagram below, the PGCertHSc (Mammography) consists of four 15-point courses which can be completed part-time within a period of up to two years. Students will be expected to spend approximately 150 hours of study for each 15-point course. In addition, students are required to complete a minimum of 300 hours of clinical practice by programme completion.
                            | Assessment of clinical competency will also occur in the student’s workplace throughout the duration of their enrolment within this programme until the completion of CLINIMAG 708 (Mammographic Clinical Practice). For specific details regarding the individual assessment component requirements, please read the information in the corresponding tabs above.
    section
        .container
            .row.align-items-center
                .col-lg-6
                    .p-5
                        img.img-fluid.rounded-circle(src='images/MRI.jpg', alt='')
                .col-lg-6
                    .p-5
                        h2.display-4 Magnetic Resonance Imaging
                        p
                            | As illustrated in the diagram below, the PGDipHSc (MRI) consists of eight 15-point courses which can be completed part-time within a period of up to four years. Students will be expected to spend approximately 150 hours of study for each 15-point course. In addition, students are required to complete a minimum of 2000 hours of clinical practice by programme completion.
                            |Assessment of clinical competency will also occur in the student’s workplace throughout the duration of their enrolment within this programme until the completion of CLINIMAG 712 (MRI Clinical Practice). For specific details regarding the individual assessment component requirements, please read the information in the corresponding tabs above.


    section
        .container
            .row.align-items-center
                .col-lg-6.order-lg-2
                    .p-5
                        img.img-fluid.rounded-circle(src='images/nuclear medicine.jpg', alt='')
                .col-lg-6.order-lg-1
                    .p-5
                        h2.display-4 Nuclear Medicine
                        p
                            | As illustrated in the diagram below, the Nuclear Medicine pathway within the PGDipHSc (Medical Imaging) consists of eight 15-point courses which can be completed part-time within a period of up to four years. Students will be expected to spend approximately 150 hours of study for each 15-point course. In addition, students are required to complete a minimum of 2000 hours of clinical practice by programme completion.
                            |Assessment of clinical competency will also occur in the student’s workplace throughout the duration of their enrolment within this programme until the completion of CLINIMAG 716 (Nuclear Medicine Clinical Practice). For specific details regarding the individual assessment component requirements, please read the information in the corresponding tabs above.
    section
        .container
            .row.align-items-center
                .col-lg-6
                    .p-5
                        img.img-fluid.rounded-circle(src='images/Ultrasound.jpg', alt='')
                .col-lg-6
                    .p-5
                        h2.display-4 PGDipHSc(Ultrasound)
                        p
                            |As part of your PGDipHSc(Ultrasound) programme, you need to see and perform a large number and range of ultrasound examinations. This will help you to develop the necessary skills to become a competent sonographer.
                            br
                            | It is your responsibility to ensure that all of the following evidence of your clinical progress is up-to-date and available for review every three months:
                            br
                            | •	Logbook (clinical hours and clinical examinations up-to-date and audited)
                            br
                            | •	LEP assessment forms (minimum of 2 attempted)
                            br
                            | •	Student self-evaluative progress report (SSE)
                            br
                            | •	Supervisor quarterly progress report (QPR)
                            br
                            | All pieces of evidence must be submitted on 1st February, 1st May, 1st August, 1st November each year of your programme (until you have passed CLINIMAG 715).
                            br
                            | If you or your Supervisor are unable to complete any of the components on time, a clinical extension request form must be emailed to MIClinical@auckland.ac.nz prior to the due date.
                            br
                            | Failure to meet the any of above requirements may delay your progression in the programme.







