extends layout

block content
    header.masthead.text-center.text-white
        .masthead-content
            .container
                h2.masthead-heading.mb-0 Medical Imaging
                h3.masthead-subheading.mb-0 Medical and Health Science
        .bg-circle-1.bg-circle
        .bg-circle-2.bg-circle
        .bg-circle-3.bg-circle
        .bg-circle-4.bg-circle
    section
        .container
            .row.align-items-center
                .col-lg-6.order-lg-2
                    .p-5
                        img.img-fluid.rounded-circle(src='images/01.jpg', alt='')
                .col-lg-6.order-lg-1
                    .p-5
                        h2.display-4 For those about to rock...
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    section
        .container
            .row.align-items-center
                .col-lg-6
                    .p-5
                        img.img-fluid.rounded-circle(src='images/02.jpg', alt='')
                .col-lg-6
                    .p-5
                        h2.display-4 We salute you!
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    section
        .container
            .row.align-items-center
                .col-lg-6.order-lg-2
                    .p-5
                        img.img-fluid.rounded-circle(src='images/03.jpg', alt='')
                .col-lg-6.order-lg-1
                    .p-5
                        h2.display-4 Let there be rock!
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.








