body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.container
  flex 1
  margin-top 20px

.container.row .nav-link.active
  background-color darkslategray

iframe
   width 100%
   height 80%
#clinicalExaminationContainer
   height 1000px
