body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  flex: 1;
  margin-top: 20px;
}
.container.row .nav-link.active {
  background-color: #2f4f4f;
}
